{
	admin off
}

{$APP_DOMAIN:arkadii.game} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}

	reverse_proxy server:3000
}

www.{$APP_DOMAIN:arkadii.game} {
	redir https://{$APP_DOMAIN:arkadii.game}{uri} permanent
}
